<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Empresa</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: var(--bs-gray-900);">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Empresa</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="horarios.html"><i class="far fa-user-circle"></i><span>Horários</span></a><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="registrar.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search" style="padding: 0px;"><button class="btn btn-primary" type="button" style="margin: 0px;background: var(--bs-gray-dark);border-color: var(--bs-gray-dark);"><a href="agendar.html" style="color: var(--bs-body-bg);text-decoration: none;">Agendar</a></button><button class="btn btn-primary" type="button" style="margin: 5px;background: var(--bs-gray-dark);border-color: var(--bs-gray-dark);"><a href="#" style="color: var(--bs-body-bg);text-decoration: none;">Excluir</a></button></form>
                    </div>
                </nav>
                <div class="container-fluid" style="margin: 0px;padding: 0px;">
                    <h3 class="text-dark mb-1" style="margin: 10px;">Horários</h3>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clientes</th>
                                <th>Horários</th>
                                <th>Contato</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="margin: 0px;"><input type="checkbox"><span style="margin: 5px;">Marquinhos</span></td>
                                <td>15:00</td>
                                <td>9921345698</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"><span style="margin: 5px;">Joãozinho</span></td>
                                <td>15:30</td>
                                <td>9921346598</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"><span style="margin: 5px;">Carlinhos</span></td>
                                <td>16:20</td>
                                <td>9132685435</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Empresa 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>